# example netlify.toml
[build]
  command = "# no build command"
  functions = "netlify/functions"

[functions]
  node_bundler = "esbuild" 
  external_node_modules = ["keyv"]

[[redirects]]
  from = "/"
  to = "/.netlify/functions/index"
  status = 200

  ## (optional) Settings for Netlify Dev
  ## https://github.com/netlify/cli/blob/main/docs/netlify-dev.md#project-detection
  #[dev]
  #  command = "yarn start" # Command to start your dev server
  #  port = 3000 # Port that the dev server will be listening on
  #  publish = "dist" # Folder with the static content for _redirect file

  ## more info on configuring this file: https://www.netlify.com/docs/netlify-toml-reference/